.create-password {
  align-self: stretch;
  width: 294px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.create-password-wrapper {
  align-self: stretch;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.continue-button1,
.continue-button2 {
  border: 1px solid var(--color-dimgray-100);
  outline: 0;
  background-color: transparent;
  height: 40px;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  min-width: 130px;
  z-index: 2;
}
.create-password-textfield {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.confirm-password-label,
.password-frame1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.confirm-password-label {
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}
.password-frame1 {
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-26xl);
  gap: var(--gap-4xs);
  z-index: 1;
}
.continue1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-font);
  color: var(--color-white);
  text-align: center;
}
.arrow-arrow-left-lg1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.left-arrow {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-cadetblue);
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-12xs);
  margin-top: -14px;
}
.left-arrow:hover {
  background-color: var(--color-skyblue);
}
.create-password-label {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-font);
}
@media screen and (max-width: 450px) {
  .continue1 {
    font-size: var(--font-size-base);
  }
}
