.email-address2 {
  position: relative;
  z-index: 4;
}
.breeje7gmailcom {
  width: 165px;
  border: 0;
  outline: 0;
  font-family: var(--font-font);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 20px;
  position: relative;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.email-label,
.password-frame2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.email-label {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-dimgray-100);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xl);
  z-index: 4;
}
.password-frame2 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-font);
}
@media screen and (max-width: 450px) {
  .breeje7gmailcom {
    font-size: var(--font-size-base);
  }
}
